<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PAWBUDDYLIST - Pets of your choice</title>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">   
<link href="css/style-orange.css" rel="stylesheet" media="screen">
<link href="css/style-im.css" rel="stylesheet" media="screen">

<link href="css/rateit.css" rel="stylesheet" media="screen">		       
<link href="css/magnific-popup.css" rel="stylesheet">
<link href="favicon.png" rel="shortcut icon" type="image/x-icon" />
<link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body class="collection-page">
	
	<header class="navbar navbar-fixed-top clearfix">
		
	<a class="current brand" href="index.html"><img src="favicon.png"></a>

	<div id="nav-basket" class="basket">
		<a href="shopping-cart.html" class="basket-link">
			<div class="basket-count">3</div>
		</a>
		<div class="submenu-container">
			<ul class="submenu-preview">
				<li>
					<a href="product.html" class="basket-item">
						<img src="img/product-1-small.jpg" alt="" />
						<p>Little cute monster</p>						
						<p class="price">1 x <span class="cur">$</span><span class="total">28.00</span></p>											
					</a>
					<a href="" class="remove-basket-item">remove</a>
				</li>
				<li>
					<a href="product.html" class="basket-item">
						<img src="img/product-2-small.jpg" alt="" />
						<p>Cute cat</p>
						<p class="price">1 x <span class="cur">$</span><span class="total">22.00</span></p>											
					</a>
					<a href="" class="remove-basket-item">remove</a>					
				</li>
				<li>
					<a href="product.html" class="basket-item">
						<img src="img/product-1-small.jpg" alt="" />
						<p>Little cute monster</p>
						<p class="price">1 x <span class="cur">$</span><span class="total">20.00</span></p>											
					</a>
					<a href="" class="remove-basket-item">remove</a>					
				</li>
				<li class="drop-link-li">
					<a href="shopping-cart.html" class="drop-link">View full<br>basket</a>
				</li>
			</ul>	
		</div>
	</div>
	
	<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<nav class="navbar-collapse collapse" id="main-nav">
		<ul class="nav">
			<li class="current active">
				<a href="index.html" class="current top-level flat">Home</a>
			</li>
			<li>
				<a href="collection.html" class="top-level">Cats</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collections.html" class="sml">Aeegean</a>
							<ul class="submenu-preview">
								<li class="drop-link-li">
									<a href="collection.html" class="drop-link">View all<br> Aeegeans</a>
								</li>
								<li>
									<a href="product.html">
										<img src="img/product-1-small.jpg" alt="" />
										<p class="price">$20.00</p>											
									</a>
								</li>
							</ul>	
						</li>
						<li>
							<a href="collection.html" class="sml">Cheetoh</a>	
							<ul class="submenu-preview">
								<li class="drop-link-li">
									<a href="collection.html" class="drop-link">View all<br> Cheetohs</a>
								</li>
								<li>
									<a href="product.html">
										<img src="img/product-1-small.jpg" alt="" />
										<p class="price">$20.00</p>											
									</a>
								</li>
							</ul>	
						</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="collection.html" class="top-level">Dogs</a>
				<div class="submenu-container">
					<ul class="submenu">
						<li class="active">
							<a href="collection.html" class="sml">Dalmatian</a>
							<ul class="submenu-preview">
								<li class="drop-link-li">
									<a href="collection.html" class="drop-link">View all <br> Dalmatians</a>
								</li>
								<li>
									<a href="product.html">
										<img src="img/product-2-small.jpg" alt="" />
										<p class="price">$20.00</p>											
									</a>
								</li>
							</ul>	
						</li>
						<li>
							<a href="collection.html" class="sml">German Shepherd</a>	
							<ul class="submenu-preview">
								<li class="drop-link-li">
									<a href="collection.html" class="drop-link">View all <br> German shepherds</a>
								</li>
								<li>
									<a href="product.html">
										<img src="img/product-2-small.jpg" alt="" />
										<p class="price">$20.00</p>											
									</a>
								</li>
							</ul>	
						</li>
					</ul>
				</div>
			</li>							
		</ul>
	</nav><!--/.nav-collapse -->
	
</header>


	


	<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<p>&copy; 2015 PawBuddyList</p>
				<p><a href="">terms</a> / <a href="">privacy</a> / <a href="">returns</a> / <a href="">delivery</a></p>
			</div> <!-- //end span3 -->
			<div class="col-sm-6 col-md-3">
				<p>Why us?</p>
				<p><a href="about.html">about</a> / <a href="contact.html">contact</a> / <a href="">promotions</a> / <a href="">press</a></p>
			</div> <!-- //end span3 -->
			<div class="col-sm-6 col-md-3">
				<p>Social links</p>
				<p><a href="">Facebook</a> / <a href="">Twitter</a> / <a href="">Pinterest</a></p>
			</div> <!-- //end span3 -->
			<div class="col-sm-6 col-md-3">
				<p>Get exclusive offers and news</p>
				<form class="form-inline" method="" action="">
					<input id="newsletter" name="newsletter" type="text" placeholder="your email..." class="form-control">
					<input name="submit" type="submit" value="&rarr;" class="btn">
				</form>
			</div> <!-- //end span3 -->						
		</div>
	</div>
</footer>
	
	
	
	
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>    
<script src="js/modernizr.min.js"></script>	
<script src="js/imagesloaded.min.js"></script>	
<script src="js/jquery.masonry.min.js"></script>	
<script src="js/jquery.rateit.min.js"></script>		
<script src="js/jquery.magnific-popup.min.js"></script>				
<script src="js/bootstrap.js"></script>
<script src="js/PawBuddyList.js"></script>

</body>
</html>
